@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  min-height: 100vh;
}

@layer base {
  @font-face {
    font-family: "HindSiliguri";
    font-weight: 300;
    src: url("/fonts/HindSiliguri-Light.ttf");
  }
  @font-face {
    font-family: "HindSiliguri";
    font-weight: 400;
    src: url("/fonts/HindSiliguri-Regular.ttf");
  }
  @font-face {
    font-family: "HindSiliguri";
    font-weight: 600;
    src: url("/fonts/HindSiliguri-SemiBold.ttf");
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-xl;
  }

  p {
    @apply text-lg;
  }
}
